body {
	font-family: Arial, sans-serif;
	color: white;
	background-color: black;
	overflow: hidden;
}
#canvas{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
}
form {position: absolute;}			
.player, .enemy{
	width: 10px;
	height: 10px;
	position: absolute;
}
.player {background-color: #f44336;}
.enemy {background-color: #2196f3;}